[submodule "modules/firebase"]
	path = modules/firebase
	url = git@github.com:funexpected/godot-firebase-module.git
[submodule "modules/amplitude"]
	path = modules/amplitude
	url = git@github.com:funexpected/godot-amplitude-module.git
[submodule "modules/spine"]
	path = modules/spine
	url = git@github.com:funexpected/godot-spine-module.git
